@model pr4.Models.User;

@{
    ViewData["Title"] = "Вход";
}

<!DOCTYPE html>
<html>

<body>
    <h1>Вход</h1>
    @if (ViewBag.ErrorMessage != null){
        <h3>@ViewBag.ErrorMessage</h3>
    }
    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post)){
        <div class="form-group">
            <label asp-for="Login">Логин</label><br />
            <input type="text" asp-for="Login" required/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Пароль</label><br />
            <input id="passwordInput" type="password" asp-for="Password" required/>
        </div>
        <div class="form-group sign-in-button">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    }

</body>

</html>